%section.body-section#dashboard
  .wrap-two.container-fluid
    .row
      .col-lg-10.col-md-9.col-sm-12.col-xs-12
        #accordion.panel-group
          #panel1.panel.panel-default
            .panel-heading
              %h4.panel-title
                %a{"data-target" => "#Welcome", "data-toggle" => "collapse", :href => "#Welcome"}
                  Welcome
            #Welcome.panel-collapse.collapse.in
              .panel-body
                %h3 Let's get started!
                .row
                  .col-md-3.tocenter
                    = image_tag 'testimonial.png', alt: 'Create your first testimonial'
                    %p
                      = link_to "Create your first testimonial", new_testimonial_path
                  .col-md-3.tocenter
                    = image_tag 'case.png', alt: 'Make your first case study'
                    %p
                      =link_to "Make your first case study", new_case_study_path
                  .col-md-3.tocenter
                    = image_tag 'review.png', alt: 'Request your first review'
                    %p
                      =link_to "Request your first review", new_review_path
                  .col-md-3.tocenter
                    = image_tag 'automation.png', alt: 'Set up automation'
                    %p
                      =link_to "Set up automation", requests_path
      .col-lg-2.col-md-3.col-sm-12.col-xs-12
        = render 'layouts/right_bar'
