- if @index
  %section.body-section
    .wrap-two.container-fluid
      .row
        .col-lg-10.col-md-9.col-sm-12.col-xs-12
          .table-responsive.leftcol
            %h1
              Automation
            %span.extras
              Request testimonials/reviews from customers
            //  %a{:href => ''} See all saved drafts
            %table#drafts.table-hover{:cellpadding => '0', :cellspacing => '0'}
              %tbody
                %tr.noHighlight
                  %th.headerLeft{:style => 'width: 35%;'} Email
                  %th{:style => 'width: 18.5%;'} Created
                  %th.cellCenter{:style => 'width: 10%;'} Type
                  %th.cellCenter{:style => 'width: 10%;'} Status
                  %th.cellCenter{:style => 'width: 7%;'} Ready
                  %th.headerRight{:style => 'width: 10%;'}
                - @requests.each do |request|
                  %tr.hover-toggle
                    %td
                      .row-left= request.email
                    %td
                      = request.created_at.to_formatted_s(:long)
                    %td.cellCenter
                      = request.request_type.titleize
                    %td.cellCenter
                      = request.status
                    %td.cellCenter
                      - if request.ready?
                        = image_tag 'tick.png', alt: 'Yes'
                      - else
                        = image_tag 'minus.png', alt: 'No'
                    %td.cellCenter
                      = link_to request, :method => :delete,
                        :data => { :confirm => 'Do you want to delete request?' } do

                        %span.glyphicon.glyphicon-remove
        .col-lg-2.col-md-3.col-sm-12.col-xs-12
          = render 'layouts/right_bar'
- else
  %section.body-section#automation
    .wrap-two.container-fluid
      .row
        .col-lg-10.col-md-9.col-sm-12.col-xs-12
          #accordion.panel-group
            #panel1.panel.panel-default
              #Welcome.panel-collapse.collapse.in
                .panel-body
                  %h3 Automate your customer proof
                  .row
                    .col-md-4.col-md-offset-4
                      %p Testify enables you to automatically create customer case studies, reviews and testimonials. You can easily integrate with any existing email marketing software or CMS platform.
                      = link_to "Get in touch", requests_path(index: true), class: "btn btn-info"
                  .row
                    .col-md-4.tocenter
                      = image_tag 'automation-1.png', alt: 'Create your first testimonial'
                      %p
                        = link_to "Label text", '#'
                    .col-md-4.tocenter
                      = image_tag 'automation-2.png', alt: 'Make your first case study'
                      %p
                        =link_to "Label text", '#'
                    .col-md-4.tocenter
                      = image_tag 'automation-3.png', alt: 'Request your first review'
                      %p
                        =link_to "Label text", '#'
        .col-lg-2.col-md-3.col-sm-12.col-xs-12
          = render 'layouts/right_bar'
