<style>#testimonial-4 { font-family: 'Open Sans',Helvetica,Arial,sans-serif;	}#testimonial-4 .box {
display: block;

color: #565f65; 
text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased;
position: relative;
width: 320px;
min-height: 120px;
padding: 0px;
background: #FFFFFF;
border: #c5c5c5 solid 1px;
  -webkit-box-shadow:  1px 0px 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow:  1px 0px 1px 1px rgba(0, 0, 0, 0.1);
padding-left:20px;
padding-right:30px;
padding-top:20px;
font-size:13px;
float:left;
font-style:italic;
border-left:4px solid #56a7de;
line-height:15px;
}



</style>


<div id="testimonial-4">

<div class="box">
<div style="float:left;margin-left: 71px;">
  {content}
</div>
<div style="padding-top: 30px;  float:left;">
    <div style="float:left;margin-bottom: 15px;">
    	<img style="border-radius: 50%;" width="60" height="60" src="{image_path}" alt="" title="{role}, {company}">
     </div>	
    <div style="float:left;font-weight:bold;color:#555555; margin-left: 10px; font-size:13px;  margin-top: 15px; font-style:normal; ">
      {name}, {role}, {company}
	</div>	

</div>
</div>
	

    		


</div>
