<div class="testimonial-template-container" style="width: 100%; padding: 50px; background-color: #eee; display: flex; justify-content: center; align-items: center; flex-direction: column;">

  	<img src="{image_path}" class="testimonial-template-image" style="height: 150px; width: 150px; border-radius: 50%; background-color: white; margin: 20px;"/>

  	<div class="testimonial-template-name-company" style="width: 100%; max-width: 500px; text-align: center; border-bottom-style: solid; border-bottom-color: #888; border-bottom-width: 1px; padding: 20px; margin-bottom: 20px; font-size: 20px;">

    		{name}, {role}, {company}

  	</div>

  	<div class="testimonial-template-content" style="width: 100%; max-width: 500px; text-align: center;">

    		{content}

  	</div>

</div>
