<style>
#testimonial-3 {
 font-family: 'Open Sans',Helvetica,Arial,sans-serif;	
}
#testimonial-3 .bubble 
{
display: block;

color: #565f65; 
text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased;
position: relative;
width: 320px;
min-height: 120px;
padding: 0px;
background: #FFFFFF;
-webkit-border-radius: 58px;
-moz-border-radius: 58px;
border-radius: 58px;
border: #c8c8c8 solid 1px;
padding-left:50px;
padding-right:50px;
padding-top:20px;
font-size:12px;
line-height:15px;
}

#testimonial-3 .bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 28px 10px 0;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
margin-left: -10px;
bottom: -28px;
left: 28%;
}

#testimonial-3 .bubble:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 28px 10px 0;
border-color: #c8c8c8 transparent;
display: block;
width: 0;
z-index: 0;
margin-left: -10px;
bottom: -29px;
left: 28%;
}


</style>


<div id="testimonial-3">

<div class="bubble">
  {content}
</div>
	
<div style="margin-top: 30px;  margin-left: 61px;">
    <div style="float:left;">
    	<img style="border-radius: 50%;" width="60" height="60" src="{image_path}" alt="" title="{role}, {company}">
     </div>	
    <div style="float:left;font-weight:bold;color:#555555; margin-left: 15px;   margin-top: 15px;font-size:13px;">
      {name}, {role}, {company}
	</div>	

</div>
    		
   
    	
</div>
