// Place all the styles related to the backend/home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#automation.body-section {
	background-color: #fafafa;
}
#automation {
  .panel-default {
    border: 0px;
  }
  .tocenter {
    text-align: center;
    img {
      display: inline;
    }
  }
  .panel-body {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #f2f2f2;
    .row {
      margin-bottom: 70px;
      margin-top: 30px;
    }
    h5 {
      margin-bottom: 30px;
      margin-top: 30px;
      font-size: 2.41429rem;
      font-weight: 700;
      color: #555555;
    }
    p {
      color:#7a7a7a;
      font-size: 15px;
      margin-top: 10px;
      cursor: pointer;
      text-align: center;
    }
    a {
      border-radius: 20px;
      margin-left: 30%;
      margin-right: 30%;
      width: 40%;
      margin-top: 5%;
    }
  }
  .panel {
    -webkit-box-shadow:  -1px 1px 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:  -1px 1px 1px 1px rgba(0, 0, 0, 0.05);
  }

  h3 {
    text-align: center;
    margin-top: 3%;
  }
}
