// Place all the styles related to the backend/home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#dashboard.body-section {
	background-color: #fafafa;
}
#dashboard {
	.panel-heading {
		a {
			&:after {
				font-family: 'Glyphicons Halflings';
				content: "\2212";
				float: right;
				color: grey;
				font-size: 12px;
				font-weight: normal;
        color:#d2d2dc;
			}
		}
		.collapsed {
			&:after {
				content: "\2b";
			}
		}
		background: none;
		padding: 10px 15px;
	}
  .panel-default {
    border: 0px;
  }
	.panel-title {
		>a {
			font-size: 14px;
			font-weight: bold;
      color: #585858;
			&:hover {
        color: #585858;
        border: 0px;
        text-decoration: none;
			}
		}
	}
	.tocenter {
		text-align: center;
		img {
			display: inline;
		}
	}
	.panel-body {
		padding-left: 15px;
		padding-right: 15px;
    .row {
  		margin-bottom: 70px;
  		margin-top: 30px;
  	 }
     h3 {
       margin-bottom: 30px;
   		margin-top: 30px;
      font-size: 2.41429rem;
      font-weight: 700;
      color: #555555;
     }
     p {
       color:#7a7a7a;
       font-size: 15px;
       margin-top: 10px;
       cursor: pointer;
     }
	}
  .panel {
    -webkit-box-shadow:  -1px 1px 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:  -1px 1px 1px 1px rgba(0, 0, 0, 0.05);
  }

  h3 {
    text-align: center;
  }

}
