.outer_body {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 100%;
  background: #f6f6f8;

  .signup_body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 62.5%;
    line-height: 1.5em;
  }

  h2,
  p,
  a,
  ol,
  form,
  label,
  button {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    line-height: 1;
    font-family: inherit;
  }

  ol {
    list-style: none;
  }

  a:focus {
    outline: 0;
  }

  a:hover,
  a:active {
    outline: 0;
  }

  p {
    color: #8e959c;
  }

  a {
    color: #19a9e5;
  }

  a:hover {
    color: #1487b7;
  }

  section {
    display: block;
  }

  button,
  input {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
    outline: 0;
    height: 50px;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }

  button,
  input {
    border: 1px solid;
    outline: 0;
    line-height: normal;
    *overflow: visible;
  }

  button::-moz-focus-inner,
  input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  button {
    cursor: pointer;
    -webkit-appearance: button;
  }

  ::selection {
    background: #72d0eb;
    color: #fff;
    text-shadow: none;
  }

  ::-moz-selection {
    background: #72d0eb;
    color: #fff;
    text-shadow: none;
  }

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }

  .signup_body {
    min-width: 320px;
    text-rendering: optimizeLegibility;
  }

  .inner {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
  }

  .cmbtn {
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 1.3em;
    line-height: 1.62em;
    font-weight: 700;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    letter-spacing: .05em;
    display: inline-block;
    text-transform: capitalize;
    height: 100%;
  }

  .cmbtn:active {
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2) inset;
  }

  .cmbtn.primary {
    padding: 18px 53px 19px;
    color: #fff;
    background: #7ebd26;
    background: -moz-linear-gradient(top, #7ebd26 0, #6ba120 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7ebd26), color-stop(100%, #6ba120));
    background: -webkit-linear-gradient(top, #7ebd26 0, #6ba120 100%);
    background: -o-linear-gradient(top, #7ebd26 0, #6ba120 100%);
    background: -ms-linear-gradient(top, #7ebd26 0, #6ba120 100%);
    background: linear-gradient(to bottom, #7ebd26 0, #6ba120 100%);
    width: 100%;
    font-size: 11pt;
  }

  .cmbtn.primary:hover,
  .cmbtn.primary:active {
    background: #78b324;
    background: -moz-linear-gradient(top, #78b324 0, #699d20 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #78b324), color-stop(100%, #699d20));
    background: -webkit-linear-gradient(top, #78b324 0, #699d20 100%);
    background: -o-linear-gradient(top, #78b324 0, #699d20 100%);
    background: -ms-linear-gradient(top, #78b324 0, #699d20 100%);
    background: linear-gradient(to bottom, #78b324 0, #699d20 100%);
  }

  .cmbtn.primary:active {
    padding: 19px 53px 18px;
    background: #75b023;
    background: -moz-linear-gradient(top, #75b023 0, #65971e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #75b023), color-stop(100%, #65971e));
    background: -webkit-linear-gradient(top, #75b023 0, #65971e 100%);
    background: -o-linear-gradient(top, #75b023 0, #65971e 100%);
    background: -ms-linear-gradient(top, #75b023 0, #65971e 100%);
    background: linear-gradient(to bottom, #75b023 0, #65971e 100%);
  }

  .signup_body {
    padding-top: 66px;
  }

  header ul#second li .subnav .block .title::-moz-selection,
  header ul#second li .subnav .block .location::-moz-selection,
  header ul#second li .subnav .block .phone::-moz-selection,
  header ul#second li .subnav .block .sublink::-moz-selection {
    background: #1487b7;
  }

  section {
    background: #fff;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  .signup_body {
    padding-top: 0;
  }

  .signup_body > section {
    font-size: 1em;
    margin: 0;
    padding: 0;
    clear: both;
    overflow: hidden;
    background: 0;
  }

  .signup_body > section .inner {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
  }

  .signup_body > section .inner h2 {
    font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 4.4em;
    line-height: 1.227em;
    letter-spacing: -0.01em;
    font-weight: 300;
    width: 100%;
    color: #2f353e;
    margin: 0 auto .2727em;
    padding: 0;
  }
  h2 {
    text-transform: capitalize;
  }

  .signup_body > section .inner p {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 1.6em;
    line-height: 1.5625em;
    color: #8e959c;
    padding: 0;
    margin: 0 auto 1.25em;
    text-align: left;
  }

  .signup_body > section .inner #title {
    max-width: 440px;
    width: 100%;
    margin: 0 auto 2.6em;
    padding: 0;
    text-align: center;
    border: 0;
    overflow: hidden;
  }

  .signup_body > section .inner #title p {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 1.6em;
    line-height: 1.5625em;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }

  .signup_body > section#signup-form {
    margin: 0 auto 6em;
  }

  .signup_body > section#signup-form .inner .signup {
    width: 100%;
    max-width: 408px;
    padding: 0;
    margin: 0 auto;
    position: relative;
    border: 1px solid #e0e5e9;
    -webkit-box-shadow: 0 0 0 2px #ededf1;
    box-shadow: 0 0 0 2px #ededf1;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
  }

  .signup_body > section#signup-form .inner .signup .formContainer {
    position: relative;
    overflow: hidden;
  }

  .signup_body > section#signup-form .inner .signup #signupForm {
    width: 100%;
    overflow: hidden;
    padding: 4.4em;
    position: relative;
  }

  @media only screen and (max-width: 479px) {
    .signup_body > section#signup-form .inner .signup #signupForm {
      padding: 3.2em 2.6em;
    }
  }

  .signup_body > section#signup-form .inner .signup #signupForm form {
    width: 100%;
  }

  .signup_body > section#signup-form .inner .signup #signupForm label {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 1.5em;
    line-height: 1.615em;
    position: relative;
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    color: #8e959c;
  }

  .signup_body > section#signup-form .inner .signup #signupForm input[type="text"],
  .signup_body > section#signup-form .inner .signup #signupForm input[type="url"],
  .signup_body > section#signup-form .inner .signup #signupForm input[type="email"],
  .signup_body > section#signup-form .inner .signup #signupForm input[type="password"] {
    border: 1px solid #e0e5e9;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 1.8em;
    line-height: 1.5em;
    padding: .75em;
    color: red;
    width: 100%;
    margin: 4px 0 16px 0;
    -webkit-box-shadow: inset 0 2px 0 0 #f6f6f8;
    box-shadow: inset 0 2px 0 0 #f6f6f8;
    color: #2f353e;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }

  .signup_body > section#signup-form .inner .signup #signupForm input[type="text"]:hover,
  .signup_body > section#signup-form .inner .signup #signupForm input[type="url"]:hover,
  .signup_body > section#signup-form .inner .signup #signupForm input[type="email"]:hover,
  .signup_body > section#signup-form .inner .signup #signupForm input[type="password"]:hover,
  .signup_body > section#signup-form .inner .signup #signupForm input[type="text"]:focus,
  .signup_body > section#signup-form .inner .signup #signupForm input[type="url"]:focus,
  .signup_body > section#signup-form .inner .signup #signupForm input[type="email"]:focus,
  .signup_body > section#signup-form .inner .signup #signupForm input[type="password"]:focus,
  .signup_body > section#signup-form .inner .signup #signupForm input[type="text"]:active,
  .signup_body > section#signup-form .inner .signup #signupForm input[type="url"]:active,
  .signup_body > section#signup-form .inner .signup #signupForm input[type="email"]:active,
  .signup_body > section#signup-form .inner .signup #signupForm input[type="password"]:active {
    border: 1px solid #adb3b9;
  }

  .signup_body > section#signup-form .inner .signup #signupForm button[type="submit"] {
    -moz-box-shadow: inset 0 1px 0 0 #a0d642;
    -webkit-box-shadow: inset 0 1px 0 0 #a0d642;
    box-shadow: inset 0 1px 0 0 #a0d642;
    background: #7cbc27;
    background: -moz-linear-gradient(top, #7cbc27 0, #62a30c 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7cbc27), color-stop(100%, #62a30c));
    background: -webkit-linear-gradient(top, #7cbc27 0, #62a30c 100%);
    background: -o-linear-gradient(top, #7cbc27 0, #62a30c 100%);
    background: -ms-linear-gradient(top, #7cbc27 0, #62a30c 100%);
    background: linear-gradient(to bottom, #7cbc27 0, #62a30c 100%);
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-shadow: none;
    color: #fff;
    font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 1.3em;
    line-height: 1.615em;
    letter-spacing: .05em;
    text-transform: capitalize;
    font-weight: 700;
    padding: 18px 0;
    text-align: center;
    width: 100%;
    margin-top: 2px;
  }

  .signup_body > section#signup-form .inner .signup #signupForm button[type="submit"]:hover,
  .signup_body > section#signup-form .inner .signup #signupForm button[type="submit"]:focus {
    color: #fff;
    background: -moz-linear-gradient(top, #87c32b 0, #6eaf0e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #87c32b), color-stop(100%, #6eaf0e));
    background: -webkit-linear-gradient(top, #87c32b 0, #6eaf0e 100%);
    background: -o-linear-gradient(top, #87c32b 0, #6eaf0e 100%);
    background: -ms-linear-gradient(top, #87c32b 0, #6eaf0e 100%);
    background: linear-gradient(to bottom, #87c32b 0, #6eaf0e 100%);
  }

  .signup_body > section#signup-form .inner .signup #signupForm button[type="submit"]:active {
    -moz-box-shadow: inset 0 3px 10px #245401;
    -webkit-box-shadow: inset 0 3px 10px #245401;
    box-shadow: inset 0 3px 10px #245401;
  }

  .signup_body > section#signup-form .inner .signup #signupForm button[type="submit"]:active {
    padding: 19px 0 17px;
  }

  .signup_body > section#signup-form .inner .additional {
    width: 100%;
    max-width: 320px;
    display: block;
    margin: 2.6em auto 0;
    padding: 0;
  }

  .signup_body > section#signup-form .inner .additional p {
    text-align: center;
    font-size: 1.4em;
    line-height: 1.666em;
    color: #adb3b9;
  }

  .signup_body > section#signup-form .inner .additional a {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }

  .signup_body > section#signup-form .inner .additional .privacy {
    color: #adb3b9;
  }

  .signup_body > section#signup-form .inner .additional .privacy a {
    color: #adb3b9;
  }

  .signup_body > section#signup-form .inner .additional .privacy a:hover {
    color: #9199a2;
  }

  .signup_body > section#signup-form .inner .additional .privacy a:focus {
    color: #76808a;
  }
}

.signup-logo {
  padding-top: 25px;
  padding-bottom: 60px;
}

