%section.body-campaign
  .wrap-two
    .row
      .col-lg-4.col-md-4.col-sm-4.col-xs-12.pull-left
        %h1.step1 New review
        %span#campaignName Fill necessary fields
      .col-lg-4.col-md-4.col-sm-4.col-xs-12.tests-container
        .tests
          #request-review-button.request-write-button
            %i.fa.fa-envelope-o
            %span Review
          #new-review-button.request-write-button
            %i.fa.fa-users
            %span Write Myself
      .col-lg-4.col-md-4.col-sm-4.col-xs-12
        .camp-prog.pull-right
          %div{:style => "display: block"}
            = image_tag('campaign.png')
          #sfIcons.camp-prog-sf1{:style => "display: none"}
          #coIcons.camp-prog-co1{:style => "display: none"}
          #trIcons.camp-prog-tr1{:style => "display: none"}
/ Body section Input
%section#new-review-form.body-campaign-input
  .wrap-three.container-fluid
    .row
      .col-lg-12.col-xs-12.col-sm-8
        #regular
          #campaign-editor
            = simple_form_for @review do |f|
              #regular-content{:style => ""}
                %ul.primary-form
                  %li
                    %label Write review by myself
                    .helper-text
                      You can write review, also you can request it from your client
                    .box-wrap
                      = render 'backend/reviews/ratings'
                    .box-wrap
                      = f.input :title, autofocus: 'autofocus', placeholder: "Title",
                                       class: 'title-field width-full first', wrapper: 'testify'
                    .box-wrap
                      = f.input :name, placeholder: "Client's name",
                                       class: 'title-field width-full first', wrapper: 'testify'
                    .box-wrap
                      = f.input :image, wrapper: 'testify'
                      .image{style: 'width: 200px;'}
                        = image_tag(@review.image.url) if @review.image?
                    .box-wrap
                      = f.input :role, placeholder: "Client's role in company",
                                       class: 'title-field width-full first', wrapper: 'testify'
                    .box-wrap
                      = f.input :company, placeholder: "Company",
                                       class: 'title-field width-full first', wrapper: 'testify'
                    .box-wrap
                      = f.input :content, class: 'clientname-field width-full first', wrapper: 'testify',
                                    style: 'resize: none; height: 150px;', placeholder: 'Review'
                      = f.input :rating, :as => :hidden, :input_html => {:class => 'review-rating-field'}
                      = hidden_field_tag 'review-rating', 0

                    = f.submit 'Next', class: 'hidden'
              .primary-form.padding-none
                #submit-wrap.button-cancel.wizard{:style => ""}
                  %button#submitButton.button.primary.huge.forward
                    Create

%section#request-review-form.body-campaign-input
  .wrap-three.container-fluid
    .row
      .col-lg-12.col-xs-12.col-sm-8
        #regular
          #campaign-editor
            = simple_form_for @request, :url => create_review_request_path do |f|
              #regular-content{:style => ""}
                %ul.primary-form
                  = f.input :sender, as: :hidden, input_html: { value: @request.sender }
                  = f.input :reply_to, as: :hidden, input_html: { value: @request.reply_to }
                  %li#regSubject{:style => ""}
                    %label Recipient info
                    .helper-text
                      This is your customer's details
                    .box-wrap
                      = f.input :name, autofocus: 'autofocus', placeholder: "Recipient's name",
                                     class: 'clientname-field width-full first', wrapper: 'testify'
                    .box-wrap
                      = f.input :email, placeholder: "Recipient's email",
                                     class: 'clientname-field width-full first', wrapper: 'testify'
                  %li#regSubject{:style => ""}
                    %label Request info
                    .helper-text
                      This is your request for review details
                    .box-wrap
                      = f.input :subject, placeholder: 'Email subject',
                                     class: 'clientname-field width-full first', wrapper: 'testify'
                    .box-wrap
                      = f.input :message, placeholder: 'Request message',
                                     class: 'clientname-field width-full first', wrapper: 'testify'
                    = f.submit 'Next', class: 'hidden'
              .primary-form.padding-none
                #submit-wrap.button-cancel.wizard{:style => ""}
                  %button#submitButton.button.primary.huge.forward
                    Send
                    %i.fa.fa-arrow-right
