<!DOCTYPE html>
<html>
<head>
  <title>Testify</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <!-- Favicon and Touch Icons -->
  <link rel="icon" href="/favicon/favicon.ico">
  <link rel="apple-touch-icon" href="favicon/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-touch-icon-114x114.png">

  <!-- Fonts CSS-->
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300italic,300,100italic,100,400italic,700,900,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

</head>
<body>
<%= render 'layouts/header' unless params[:controller] == 'users/registrations' %>
<%= render 'layouts/flash' %>
<%= yield %>

</body>
</html>
