.outer_body
  = image_tag 'logo-2.png', class: 'center-block signup-logo', width: 50
  .signup_body
    section id="signup-form" class="home-a"
      .inner
        #title
          h2 = t('users.sessions.common.sign_up')
          p = t('users.registrations.client_motivation')
        .signup
          .formContainer
            #signupForm
              ol id="response"
              = simple_form_for(resource, as: :user, url: user_registration_path, html: { id: "form-sign-up" }) do |f|
                = f.input :name, autofocus: true
                = f.input :url, label: t('users.registrations.company_name')
                = f.input :domain
                = f.input :email
                = f.input :password
                = f.input :password_confirmation
                = f.button :submit, t('users.sessions.common.sign_up'), class: "cmbtn primary"
        .additional
          p
            => t('users.registrations.account_exists')
            a[href=new_user_session_path] = t('users.sessions.common.sign_in')
            | .
          p.privacy
            = t('users.registrations.disclaimer_prefix')
            a[target="_blank" href="#"] = t('users.registrations.tos')
            | ,
            a[target="_blank" href="#"] =<  t('users.registrations.privacy_policy')
            | ,
            =<>  t('users.registrations.and')
            a[target="_blank" href="#"] = t('users.registrations.anti_spam_policy')
